# Importing Modules

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

# Read and understand data

In [2]:
df = pd.read_csv("../data/interim/gesture-prediction.csv")
df.head()

,time,channel1,channel2,channel3,channel4,channel5,channel6,channel7,channel8,class
0,1,0.00001,-0.00002,-0.00001,-0.00003,0.00000,-0.00001,0.00000,-0.00001,0.0
1,5,0.00001,-0.00002,-0.00001,-0.00003,0.00000,-0.00001,0.00000,-0.00001,0.0
2,6,-0.00001,0.00001,0.00002,0.00000,0.00001,-0.00002,-0.00001,0.00001,0.0
3,7,-0.00001,0.00001,0.00002,0.00000,0.00001,-0.00002,-0.00001,0.00001,0.0
4,8,-0.00001,0.00001,0.00002,0.00000,0.00001,-0.00002,-0.00001,0.00001,0.0

In [3]:
df.shape

(4237908, 10)

In [4]:
df.describe()

,time,channel1,channel2,channel3,channel4,channel5,channel6,channel7,channel8,class
count,4.237908e+06,4.237908e+06,4.237908e+06,4.237908e+06,4.237908e+06,4.237908e+06,4.237908e+06,4.237908e+06,4.237908e+06,4.237907e+06
mean,3.113689e+04,-7.911481e-06,-9.416077e-06,-9.548735e-06,-9.637838e-06,-1.599724e-05,-1.085528e-05,-9.364637e-06,-9.696860e-06,1.265671e+00
std,1.868079e+04,1.631110e-04,1.192228e-04,1.241846e-04,2.257728e-04,2.724188e-04,2.151405e-04,1.527311e-04,1.720933e-04,1.989693e+00
min,0.000000e+00,-1.280000e-03,-1.280000e-03,-1.280000e-03,-1.280000e-03,-1.280000e-03,-1.280000e-03,-1.280000e-03,-1.280000e-03,0.000000e+00
25%,1.529000e+04,-3.000000e-05,-4.000000e-05,-4.000000e-05,-6.000000e-05,-8.000000e-05,-6.000000e-05,-4.000000e-05,-3.000000e-05,0.000000e+00
50%,3.054600e+04,-1.000000e-05,-1.000000e-05,-1.000000e-05,-1.000000e-05,-1.000000e-05,-1.000000e-05,-1.000000e-05,-1.000000e-05,0.000000e+00
75%,4.580400e+04,2.000000e-05,2.000000e-05,3.000000e-05,4.000000e-05,5.000000e-05,3.000000e-05,2.000000e-05,1.000000e-05,2.000000e+00
max,9.714400e+04,1.270000e-03,1.270000e-03,1.270000e-03,1.270000e-03,1.270000e-03,1.270000e-03,1.270000e-03,1.270000e-03,7.000000e+00

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4237908 entries, 0 to 4237907
Data columns (total 10 columns):
 #   Column    Dtype
---  ------    -----
 0   time      int64
 1   channel1  float64
 2   channel2  float64
 3   channel3  float64
 4   channel4  float64
 5   channel5  float64
 6   channel6  float64
 7   channel7  float64
 8   channel8  float64
 9   class     float64
dtypes: float64(9), int64(1)
memory usage: 323.3 MB

# Data Cleaning

In [6]:
df.isnull().sum()

time        0
channel1    0
channel2    0
channel3    0
channel4    0
channel5    0
channel6    0
channel7    0
channel8    0
class       1
dtype: int64

In [7]:
df.dropna(inplace=True)

In [11]:
df = df[df['class']!=0]

# Model Building

In [18]:
features = ['channel1', 'channel2', 'channel3', 'channel4', 'channel5', 'channel6', 'channel7', 'channel8']
X = df[features]
y = df['class']

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=42)

## Logistic Regression

In [20]:
lgm = LogisticRegression()
lgm.fit(X_train, y_train)

LogisticRegression()

In [21]:
lgm.score(X_train, y_train)

0.6429102110408982

In [22]:
lgm.score(X_test, y_test)

0.6433532881380996

## Random Forest

In [ ]:
rfm = RandomForestClassifier()
rfm.fit(X_train, y_train)